/* 우측 친구추천 바 스타일링 */
.main-right {
  background-color: #fafafa;
  width: 25%;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.main-right img {
  margin-right: 18px;
  border-radius: 25px;
}

.profile-me {
  display: flex;
  align-items: center;
  padding: 55px 0 30px 0;
}

.profile-desc {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}

.myImg {
  width: 55px;
}

.reco-title {
  display: flex;
  justify-content: space-between;
}

.span-forme {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.span-all {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.profile-others {
  display: flex;
  flex-direction: column;
}

.footer {
  width: 80%;
  margin-top: 30px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.footer .copyright {
  margin-top: 22px;
}

.new {
  margin-left: 15px;
}

.comments-list .new {
  padding-top: 5px;
}
